/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

/* General Style  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  /* 1rem = 10 px*/
  height: 100%;
}

:root {
  /* --primary-font-color: var(--primary-font-color); */
  --primary-font-color: #00b7f8;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Gilroy-Regular", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
  background: #fff;
  min-height: 100vh;
}

button:is(:hover, :active, :focus, button) {
  cursor: pointer;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

dl,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.d-flex-jcc-alc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar style start */
.navbar {
  background: rgba(3, 9, 33, 1);
  position: sticky;
  top: -2px;
  z-index: 200;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo > * {
  z-index: 10;
}

.logo h2 {
  color: #fff;
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9vh;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLinks li {
  position: relative;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
}

.navLinks li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 0.2rem;
  background: var(--primary-font-color);
  bottom: -3px;
  transition: all 0.2s ease-in;
}

.navLinks li:hover:before {
  width: 100%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.hamburgerMenu .line {
  height: 2px;
  width: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-out;
}

.hamburgerMenu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.active .line:nth-child(1) {
  transform: rotate(45deg);
}

.hamburgerMenu.active .line:nth-child(3) {
  transform: rotate(-45deg);
}

.headline {
  background: var(--primary-font-color);
  padding: 0.7rem;
}

.headline .icons i {
  background: #fff;
  color: #030921;
  font-size: 1.6rem;
  padding: 0.6rem;
}

.headline .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline .d-flex {
  gap: 1rem;
}

.headline .d-flex p a {
  color: #0b1a39;
  font-size: 1.3rem;
  font-weight: 500;
}

/* responsive Navbar  */
@media (max-width: 768px) {
  .hamburgerMenu {
    display: block;
  }

  .navLinks {
    position: fixed;
    inset: 0;
    justify-content: center;
    background: #030921;
    flex-direction: column;
    height: 100vh;
    transform: translateX(101%);
    transition: all 0.3s ease-out;
  }

  .navLinks.active {
    transform: translateX(0%);
  }
}

/* Navbar style ends */
/* Home style start */
.heroBg {
  position: relative;
  height: max-content;
  min-height: 100vh;
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* top: -10vh; */
}

.heroBg > * {
  z-index: 10;
  color: #fff;
}

.heroBg h1 {
  font-size: 7rem;
  font-weight: 700;
}

.revealText {
  overflow: hidden;
}

.btnGroup.revealText {
  overflow: unset;
}

.heroBg p {
  margin: 3rem 0;
  font-size: 2rem;
}

.heroBg .primaryBtn {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  background: var(--primary-font-color);
  color: #fff;
  font-weight: 500;
  color: #0b1a39;
  border: 4px solid transparent;
  border-radius: 100vmax;
  transition: all 0.2s linear;
}

.primaryBtn:hover {
  border: 8px solid transparent;
  background: var(--primary-font-color);
  opacity: 0.9;
}

.heroBg::before {
  content: "";
  background: #0e1454;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .heroBg h1 {
    font-size: 5rem;
  }

  .heroBg {
    padding: 0 1rem;
  }
}

@media (max-width: 476px) {
  .heroBg h1 {
    font-size: 4rem;
  }

  .heroBg p {
    font-size: 1.8rem;
  }

  .heroBg .primaryBtn {
    font-size: 1.6rem;
  }
}

/* Home style End */

/* footer styles start */
footer {
  background: rgba(3, 9, 33, 1);
  padding: 2rem 0;
}

.footer {
  font-size: 1.6rem;
  min-height: 10vh;
  color: #fff;
  font-weight: 500;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
.footer .logo {
  margin-bottom: 2rem;
}
.icons i {
  font-size: 2.2rem;
  background: #ffffff;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  color: #0e1454;
  margin-right: 2rem;
}
.footer .icons a {
  display: block;
  margin-bottom: 1rem;
}
.footer a {
  color: #fff;
}

.icons div:has(img) {
  width: 50%;
  cursor: pointer;
  margin-bottom: 2rem;
}
.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: flex-start;
  padding-top: 3rem;
}

.footer .icons {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }

  .footer i {
    font-size: 1.6rem;
  }
}

/* footer styles Ends */

/* ABout styles Start */
.evenCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.about {
  padding: 6rem 0;
}

.evenCols h3 {
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 1.7rem;
}

.evenCols h2,
.genHeading,
.counter-numbers {
  color: var(--primary-font-color);
  font-size: 4rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.counter-numbers {
  margin-bottom: 1rem !important;
}

.evenCols p {
  font-size: 1.6rem;
  color: #0b1a39;
  margin-bottom: 1.2rem;
}

.evenCols .num {
  color: var(--primary-font-color);
  font-size: 3rem;
  font-weight: 700;
}

.evenCols h4 {
  color: #0b1a39;
  font-size: 2.2rem;
  font-weight: 500;
}

.evenCols h5 {
  color: #0b1a39;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.progBar {
  width: 100%;
  height: 1.5rem;
  border-radius: 100vmax;
  background: #cac9c9;
  position: relative;
}

.progBar .absBar {
  content: "";
  position: absolute;
  background: var(--primary-font-color);
  width: 90%;
  height: 100%;
  border-radius: inherit;
}

.progresBox .progressCards:nth-child(3) .progBar .absBar {
  width: 100%;
}

.progresBox .progressCards:nth-child(2) .progBar .absBar {
  width: 95%;
}

.progressCards {
  margin-bottom: 1.6rem;
}

.even {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.even p {
  color: #323338;
  font-weight: 500;
  font-size: 1.5rem;
}

.progresBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.autoNumBox {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.autoNumBox > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .evenCols {
    grid-template-columns: 1fr;
  }
}

/* ABout styles ENd */
/* sroll Top styles start */
.scrollTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1 / 1;
  color: #fff;
  padding: 0.5rem;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 20;
  background: var(--primary-font-color);
  font-size: 1.8rem;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
  box-shadow: rgba(28, 28, 28, 0.5) 0px 5px 7px;
  transition: all 0.3s linear;
}

.scrollTop.whatsapp {
  background: transparent;
  /* right: unset; */
  /* left: 3rem; */
  bottom: 10rem;
  width: 8rem;
  right: 1rem;
  border-radius: 50%;
  /* font-size: 3.5rem; */
  box-shadow: none;
}

.scrollTop.whatsapp {
  filter: drop-shadow(3px 1px 0px rgba(26, 26, 26, 0.2));
}

.scrollTop.active {
  opacity: 1;
}

/* sroll Top styles end */

/* Services styles starts */
.services,
.upcomingServices {
  /* min-height: 100vh; */
  background: #f7fcff;
  padding: 4rem 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
  margin-top: 5rem;
}

.cardContainer a {
  display: contents;
}

.cards {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.cards .img {
  height: 25rem;
  overflow: hidden;
  border-radius: 0.5rem;
  pointer-events: none;
}

.cards .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.cards .content {
  padding: 1.5rem;
}

.cards .heading {
  font-size: 2.2rem;
  color: #0b1a39;
  font-weight: 500;
  margin: 1.5rem 0;
}

.cards .description {
  font-size: 1.5rem;
  color: #687c94;
}

.cards .content button {
  font-size: 1.6rem;
  color: #0b1a39;
  background: var(--primary-font-color);
  padding: 1rem;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.cards:hover .img img {
  transition: all 0.3s ease-in;
  transform: scale(1.15);
}

.cards:hover .content button {
  opacity: 0.9;
}

.content button i {
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cards:hover .content button i {
  margin-left: 1rem !important;
}

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

/* Services styles end */
/* Expert styles starts */
.expert {
  min-height: 80vh;
  padding: 4rem 0;
}

.clippyCard {
  background: #fff;
  padding: 3.5rem 1.5rem;
  transform: skewX(6deg) rotate(6deg);
  position: absolute;
  width: 100%;
  bottom: -10rem;
  left: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.clippyCard > * {
  transform: skewX(-6deg) rotate(-6deg);
  text-align: center;
}

.expert .cardContainer .cards img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards:hover .clippyCard {
  bottom: -2rem;
  background: var(--primary-font-color);
}

.cards .clippyCard .heading {
  margin: 1rem 0;
}

.cards:hover .clippyCard .heading,
.cards:hover .clippyCard .description {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #fff;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  padding: 1rem;
}

.borderBottom {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.borderBottom i {
  color: #0b1a39;
  font-size: 3rem;
  border: 2px solid var(--primary-font-color);
  border-radius: 100vmax;
  aspect-ratio: 1/1;
  width: 9rem;
  display: grid;
  place-items: center;
}

.socialIcons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  height: 1px;
  background: #dddddd;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

.borderBottom::before {
  top: unset;
  bottom: 0;
}

.socialIcons li {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.5rem;
}

/* Expert styles end */
/* Testimonial styles start  */
.testimonial {
  background: url("./assets/testimonialbg.png");
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonialSliders {
  position: relative;
  padding: 4vmax 4rem;
  /* border: 2px solid #dddddd; */
  transition: all 0.2s ease-in;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  /* background: #fff; */
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.whiteBg {
  background: #fff;
  width: 80%;
  margin: auto;
  border-radius: 2rem;
}

.slick-arrow {
  display: none !important;
}

.testimonialSliders i {
  font-size: 5rem;
  color: #687c94;
}

.testimonialSliders .feedback {
  margin: 0;
  color: #687c94;
  font-weight: 700;
  margin: 1.5rem 0;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}

/* .testimonialSliders:hover {
  border: 2px solid var(--primary-font-color);
} */

.testimonialSliders:hover i {
  transition: all 0.2s ease-in;
  color: var(--primary-font-color);
}

.testimonialSliders:hover .stars i {
  transition: all 0.2s ease-in;
  color: #ffcd3c;
}

.testimonialSliders .clientImage {
  width: 10rem;
  aspect-ratio: 1/1;
  /* margin-right: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background: var(--primary-font-color);
  border-radius: 50%;
  color: #030921;
}

.testimonialSliders .client {
  font-size: 2rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.stars i {
  color: #ffcd3c;
  font-size: 2rem;
}

.testimonialSliders .clientImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.slick-dots li {
  border: 1px solid #0b1a39;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  border: 1px solid var(--primary-font-color);
}

.slick-dots li button:before {
  display: none;
  font-size: 1.5rem;
  top: 1px;
  left: -1px;
  color: transparent;
}

.slick-dots li.slick-active button:before {
  color: var(--primary-font-color);
}

.slick-dots li.slick-active button {
  background: var(--primary-font-color);
  position: relative;
  top: -1px;
  left: -1px;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.slick-dots li,
.slick-dots li button {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .testimonialSliders {
    padding: 3rem 2rem;
    width: 95%;
    min-height: 35rem;
  }

  .slick-dots li,
  .slick-dots li button {
    width: 13px;
    height: 13px;
  }
}

/* Testimonial styles end */
/* upcomingServices start  */
.upcomingServices {
  background: #fff;
}

.upcomingServices .content {
  background: rgba(12, 90, 219, 0.4);
  backdrop-filter: blur(5px);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.upcomingServices .cards .heading {
  margin: 0;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 2rem;
}

.slick-dots {
  bottom: 10px;
}

/* upcomingServices ends  */

/* contact us start  */
.contact {
  padding: 4rem 0;
  /* min-height: 100vh; */
  background-image: url(./assets/map.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  isolation: isolate;
}

.contact.fixed {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  padding: 2rem;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  min-width: 50rem;
  pointer-events: none;
  transition: all 0.3s ease-in;
}

.upDetailForm.contact.fixed {
  min-width: unset;
  width: 50rem;
  padding: 5rem;
}

.contact.fixed.show {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.contact::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #ffffff;
  z-index: -1;
}

.contact.fixed .fa-xmark {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #323338;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid #687c94;
  padding: 1rem;
  border-radius: 50%;
  width: 4.5rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-out;
}

.contact.fixed .fa-xmark:hover {
  rotate: 90deg;
  background-color: var(--primary-font-color);
  color: #fff;
  border: 2px solid var(--primary-font-color);
}

.contact .formContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.contact .form {
  padding: 3rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-around;
  /* box-shadow: 0px 2px 15px rgba(12, 90, 219, 0.15); */
}

.form h3 {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--primary-font-color);
  margin-bottom: 0.7rem;
}

.form .info {
  color: #0b1a39;
  font-size: 1.6rem;
  transition: all 0.2s linear;
}

.form .borderBottom:hover .info {
  color: var(--primary-font-color);
}

.contact .input input,
.contact textarea,
.contact select {
  border: 1px solid #dddddd;
  padding: 1rem;
  caret-color: var(--primary-font-color);
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  color: #0b1a39;
  font-weight: 500;
}

.contact .input input:focus,
.contact textarea:focus,
.contact select {
  outline: 0;
}

.contact .submit {
  width: 100%;
  background: var(--primary-font-color);
  color: #fff;
  font-weight: 500;
  padding: 1rem;
  border: 1px solid transparent;
  font-size: 1.7rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.contact .submit:hover {
  background: transparent;
  color: #030921;
  border: 1px solid var(--primary-font-color);
}

.formEvenCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.upDetailForm .formEvenCols {
  grid-template-columns: 1fr;
}

.upDetailForm .genHeading {
  font-size: 2.5rem;
}

.checkBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  cursor: pointer;
}

.contactBtn {
  background-color: var(--primary-font-color);
  display: block;
  width: max-content;
  margin-inline: auto;
  color: #fff;
  padding: 1.3rem 2rem;
  border-radius: 100vmax;
  font-size: 1.8rem;
  color: #030921;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.contactBtn:hover {
  opacity: 0.9;
}

/* .form h2 {
  font-size: 2.5rem;
  color: var(--primary-font-color);
} */
/* contact us ends */

/* Detail starts */
.detail {
  min-height: 90vh;
  padding-top: 10vh;
}

.detail .parent {
  width: calc(100% - 10vw);
  margin-inline: auto;
}

.detailEvenCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 0;
}

.detail .lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5rem;
}

.detail .lists h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--primary-font-color);
  position: relative;
}

.detail .lists h2::before {
  content: "01";
  color: hsla(0, 0%, 16%, 0.12);
  font-size: 10rem;
  position: absolute;
  top: -6rem;
  left: -7rem;
}

.detail .parent .detailEvenCols:nth-child(2) .lists h2::before {
  content: "02";
}

.detail .parent .detailEvenCols:nth-child(3) .lists h2::before {
  content: "03";
}

.detail .img img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem 5rem 0 5rem;
}

.detail .img {
  position: relative;
}

.detail .img::before {
  position: absolute;
  content: "";
  bottom: 48%;
  background: rgba(234, 249, 255, 0.5);
  width: 30vw;
  aspect-ratio: 1/1;
  left: -30%;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(12, 90, 219, 0.2);
}

.detail .lists ul li {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem;
}

.detail .lists ul li::marker {
  content: "◾";
  font-size: inherit;
}

/* Detail ends */
/* coming soon start */
.comingsoon {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.comingsoon h3 {
  color: transparent;
  font-size: 8rem;
  margin-bottom: 1rem;
  -webkit-text-stroke: 2px #fff;
}

.comingsoon h4 {
  color: #fff;
  font-size: 4rem;
}

#comingSVG path {
  animation: comingSoon 2s linear forwards, fillit 0.5s linear forwards 2.5s;
}

@keyframes fillit {
  to {
    stroke-opacity: 0;
    fill: var(--primary-font-color);
  }
}

#comingSVG .p1 {
  stroke-dasharray: 282;
  stroke-dashoffset: 282;
}

#comingSVG .p2 {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

#comingSVG .p3 {
  stroke-dasharray: 419;
  stroke-dashoffset: 419;
}

#comingSVG .p4 {
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
}

#comingSVG .p5 {
  stroke-dasharray: 335;
  stroke-dashoffset: 335;
}

#comingSVG .p6 {
  stroke-dasharray: 353;
  stroke-dashoffset: 353;
}

#comingSVG .p7 {
  stroke-dasharray: 274;
  stroke-dashoffset: 274;
}

#comingSVG .p8 {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

#comingSVG .p9 {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

#comingSVG .p10 {
  stroke-dasharray: 336;
  stroke-dashoffset: 336;
}

#comingSVG {
  width: calc(50vw + 1rem);
}

@keyframes comingSoon {
  to {
    stroke-dashoffset: 0;
  }
}

.comingsoon .fa-xmark {
  position: fixed;
  background: #fff;
  color: #030921;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.comingsoon .fa-xmark:hover {
  transform: rotate(90deg);
}

.getApp {
  background: #030921;
  color: #fff;
  border-radius: 100vmax;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
}

/* coming soon end */

/* New services design start  */
.heroElec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.heroElec > div {
  padding: 4rem;
}

.heroElec h2 {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 3.5rem;
}

.heroElec p {
  font-size: 1.8rem;
  color: #030921;
}

.horizonLine {
  height: 4px;
  width: 100%;
  background: rgb(237, 237, 237);
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.serviceNav {
  display: flex;
  gap: 1rem;
  position: sticky;
  z-index: 100;
  top: 10vh;
  background: #fff;
  border-bottom: 4px solid rgb(237, 237, 237);
  padding-bottom: 1.5rem;
}

.serviceNav .img {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}

.serviceNav > div {
  border-radius: 0.5rem;
  /* background: #eff2ff; */
  /* box-shadow: 0 3px 5px 0 rgba(216, 216, 216, 0.7); */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceNav .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  /* border: 2px solid transparent; */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.serviceNav p {
  text-align: center;
  font-weight: 500;
  color: #030921;
  font-size: 1.5rem;
}

.listing {
  min-height: 40vh;
}

/* .serviceNav .img img:hover {
  border: 2px solid var(--primary-font-color);
} */

.electrician .detail .img::before {
  display: none;
}

.electrician .detail {
  padding-top: 0;
}

.electrician .detail .lists h2::before {
  display: none;
}

/* New services design End */
/* serviceListing design Start */

.serviceListing {
  /* display: grid; */
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 3rem;
  /* overflow: hidden; */
  position: relative;
}

.serviceListing .accordion-item {
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #aaa;
  padding: 1rem 0;
}

/* .serviceListing .accordion-item .accordion-button::after {
  display: none;
} */

.viewD {
  color: #6e42e5;
  font-size: 1.4rem;
  background: transparent;
  font-weight: 500;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.faqBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqBtn i.fa-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

.faqBtn:not(.collapsed) i.fa-chevron-down {
  transition: transform 0.3s ease-out;
  transform: rotate(180deg);
}

.mainList {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.includeContent {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.detailImg {
  width: 10%;
  height: 12%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 0.5rem;
}

.detailImg img {
  border-radius: inherit;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.detailImg button {
  position: absolute;
  font-size: 1.2rem;
  background: #fff;
  color: #030921;
  font-weight: 500;
  border-radius: 0.5rem;
  bottom: -1rem;
  left: 50%;
  padding: 0.6rem;
  width: 7rem;
  transform: translateX(-50%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.includeContent .detailImg {
  width: 12%;
}

.includeContent h4 {
  font-size: 1.8rem;
}

.includeContent p {
  font-weight: 500;
  font-size: 1.4rem;
  color: #545454;
}

.incTxt {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.detailImg img {
  height: 100%;
  object-fit: cover;
}

.mainList h2 {
  color: #030921;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.mainList ul li,
.faq li {
  font-size: 1.4rem;
  color: #545454;
  list-style: disc;
}

.mainList ul {
  margin-left: 2rem;
}

.serviceListing .accordion {
  position: relative;
  padding: 0 1rem;
}

/* .serviceListing .accordion::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #545454;
} */

.saveCards {
  background: rgb(237, 237, 237);
  padding: 1rem 3rem;
  width: 80%;
  border-radius: 1rem;
  font-weight: 500;
  height: fit-content;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.saveCards i {
  margin-right: 0.6rem;
  color: #25d366;
}

.rightListing {
  position: sticky;
  height: calc(100vh - 35vh);
  top: 30vh;
  right: 0;
  left: 0;
}

/* serviceListing design End */

/* TERMS CONDITION  START*/

.terms .box {
  width: 90%;
  margin-inline: auto;
}

.terms h2 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
  font-weight: 600;
}

.terms p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.terms h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.terms .box div {
  margin-bottom: 4rem;
}

/* TERMS CONDITION  END */

/* GENERAL MOBILE RESPONSIVE STYLES  */
@media (max-width: 991px) {
  .contact .form {
    flex-direction: column;
    gap: 2rem;
  }

  .contact.fixed {
    min-width: 40rem;
  }

  .detail .lists ul li {
    font-size: 1.6rem;
  }

  .detail .lists h2 {
    font-size: 2rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer > div {
    margin-bottom: 2rem;
  }

  .heroElec {
    grid-template-columns: 1fr;
  }

  .heroElec div:nth-child(1) {
    order: 2;
  }

  .heroElec > div {
    padding: 2rem;
  }

  .serviceNav {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .detailEvenCols {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .parent .detailEvenCols:nth-child(2) {
    flex-direction: column-reverse;
  }

  .detail .lists {
    padding-left: 2rem;
  }

  .detail .img::before {
    width: 55vw;
  }

  .headline .container {
    flex-direction: column;
  }

  .headline .container > div {
    margin-bottom: 0.5rem;
  }

  .serviceListing {
    grid-template-columns: 1fr;
  }

  .serviceListing .rightListing {
    order: 1;
    display: flex;
    gap: 1.5rem;
  }

  .serviceListing .accordion {
    order: 2;
  }

  .serviceListing .accordion::before {
    display: none;
  }

  .serviceListing .accordion {
    padding: 0 1rem;
  }

  .rightListing {
    height: auto;
    position: static;
    top: unset;
    left: unset;
    right: unset;
  }
  .grid-col-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .electrician .container {
    max-width: 95%;
    margin-inline: auto;
  }

  .heroElec > div {
    padding: 1rem;
  }

  .header {
    width: 95%;
  }
  .serviceNav p {
    font-size: 1.4rem;
  }
  .serviceNav {
    gap: 3rem;
  }
  .serviceListing .accordion {
    padding: 0;
  }
}

@media (max-width: 540px) {
  .contact .formContainer {
    padding: 0 1rem;
  }

  .contact.fixed,
  .upDetailForm.contact.fixed {
    min-width: 90%;
    width: unset;
    padding: 2rem;
  }

  .contact.fixed .fa-xmark {
    padding: 0;
    width: 3.5rem;
    font-size: 1.7rem;
  }

  .formEvenCols {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .scrollTop.whatsapp {
    width: 7rem;
    font-size: 2.5rem;
    /* bottom: 3.9rem; */
    right: 2rem;
  }

  .heroElec h2 {
    font-size: 2.8rem;
  }

  .heroElec p {
    font-size: 1.6rem;
  }
  .mainList {
    flex-direction: column;
  }
  .detailImg {
    width: 18%;
    height: 18%;
    margin-bottom: 1rem;
  }
  .incTxt {
    margin-top: 1.5rem;
  }
  .accordion-body {
    padding: 0;
  }
  .includeContent .detailImg {
    width: 14%;
  }
  .includeContent h4 {
    font-weight: 600;
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  html {
    scroll-padding-top: 8rem;
  }

  .logo img {
    width: 18%;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .heroBg h1 {
    font-size: 3rem;
  }

  .heroBg p {
    margin: 2rem 0;
    font-size: 1.7rem;
  }

  .heroBg .primaryBtn {
    padding: 1rem 2rem;
    border: 3px solid transparent;
  }

  .evenCols h2,
  .genHeading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .about {
    padding: 2rem 1rem;
  }

  .evenCols h5,
  .testimonialSliders .client {
    font-size: 1.7rem;
  }

  .evenCols p,
  .testimonialSliders .feedback {
    font-size: 1.4rem;
  }

  .services,
  .upcomingServices {
    padding: 4rem 1rem;
  }

  .cards .heading {
    font-size: 2rem;
  }

  .cards .content button,
  .form .info {
    font-size: 1.5rem;
  }

  .testimonialSliders .clientImage {
    width: 8rem;
  }

  .borderBottom i {
    width: 5rem;
    font-size: 2rem;
  }

  .contact .form {
    padding: 2rem 1rem;
  }

  .contact.fixed {
    padding: 2rem 1rem;
    min-width: 95%;
  }

  .detail .parent {
    width: 95%;
  }

  .headline .d-flex p a {
    font-size: 1.2rem;
  }

  .headline .d-flex {
    gap: 0.8rem;
  }

  #comingSVG {
    width: 90%;
  }

  .comingsoon .fa-xmark {
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  .contact .input input,
  .contact textarea,
  .contact select {
    margin-bottom: 1rem;
  }
  .includeContent .detailImg {
    width: 10rem;
  }
}

.icons .fa-facebook,
.headline .icons .fa-facebook {
  color: #3b5998;
}

.icons .fa-twitter,
.headline .icons .fa-twitter {
  color: #00acee;
}

.icons .fa-instagram,
.headline .icons .fa-instagram {
  color: #dc2743;
}

.icons .fa-apple,
.headline .icons .fa-apple {
  color: #555555;
}

/* .icons .fa-google-play {
  color: #00C9FF;
} */
.text-center {
  text-align: center;
}
